function Keyboard.init 0
    push constant 24576
    pop static 1
    push constant 0
    return
function Keyboard.keyPressed 0
    push static 1
    push static 0
    add
    pop pointer 1
    push that 0
    return
function Keyboard.readChar 0
    push constant 0
    return
function Keyboard.readLine 0
    push constant 0
    return
function Keyboard.readInt 0
    push constant 0
    return