function Screen.init 2
    push constant 16
    call Array.new 1
    pop static 2
    push constant 1
    pop local 1
label Screen_0
    push local 0
    push constant 16
    lt
    not
    if-goto Screen_1
    push local 0
    push static 2
    add
    push local 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push local 1
    add
    pop local 1
    push local 0
    push constant 1
    add
    pop local 0
    goto Screen_0
label Screen_1
    push constant 16384
    pop static 3
    push constant 1
    pop static 0
    push constant 1
    pop static 1
    push constant 0
    return
function Screen.clearScreen 0
    push constant 0
    return
function Screen.setColor 0
    push argument 0
    not
    if-goto Screen_3
    push constant 1
    pop static 0
    push constant 1
    pop static 1
    goto Screen_2
label Screen_3
    push constant 0
    pop static 0
    push constant 1
    neg
    pop static 1
label Screen_2
    push constant 0
    return
function Screen.drawPixel 3
    push constant 512
    push argument 1
    call Math.multiply 2
    push argument 0
    push constant 16
    call Math.divide 2
    add
    pop local 0
    push local 1
    push static 3
    add
    pop pointer 1
    push that 0
    pop local 1
    push argument 0
    push argument 0
    push constant 16
    call Math.divide 2
    push constant 16
    call Math.multiply 2
    sub
    pop local 2
    push local 1
    push local 2
    call Screen.bitN 2
    push static 0
    eq
    not
    if-goto Screen_5
    push constant 0
    return
    goto Screen_4
label Screen_5
label Screen_4
    push local 0
    push static 3
    add
    push local 1
    push local 2
    push static 2
    add
    pop pointer 1
    push that 0
    push static 1
    call Math.multiply 2
    add
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    return
function Screen.drawLine 0
    push constant 0
    return
function Screen.drawRectangle 0
    push constant 0
    return
function Screen.drawCircle 0
    push constant 0
    return
function Screen.bitN 0
    push argument 0
    push argument 1
    push static 2
    add
    pop pointer 1
    push that 0
    and
    push argument 1
    push static 2
    add
    pop pointer 1
    push that 0
    eq
    neg
    pop argument 0
    push argument 0
    return