function Screen.init 2
    push constant 16
    call Array.new 1
    pop static 1
    push constant 1
    pop local 1
    push constant 0
    pop local 0
label Screen_0
    push local 0
    push constant 16
    lt
    not
    if-goto Screen_1
    push local 0
    push static 1
    add
    push local 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push local 1
    add
    pop local 1
    push local 0
    push constant 1
    add
    pop local 0
    goto Screen_0
label Screen_1
    push constant 16384
    pop static 2
    push constant 1
    neg
    pop static 0
    push constant 0
    return
function Screen.clearScreen 0
    push constant 0
    return
function Screen.setColor 0
    push argument 0
    pop static 0
    push constant 0
    return
function Screen.drawPixel 3
    push constant 32
    push argument 1
    call Math.multiply 2
    push argument 0
    push constant 16
    call Math.divide 2
    add
    pop local 0
    push argument 0
    push argument 0
    push constant 16
    call Math.divide 2
    push constant 16
    call Math.multiply 2
    sub
    pop local 2
    push static 0
    not
    if-goto Screen_3
    push local 0
    push static 2
    add
    push local 0
    push static 2
    add
    pop pointer 1
    push that 0
    push local 2
    push static 1
    add
    pop pointer 1
    push that 0
    or
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Screen_2
label Screen_3
    push local 0
    push static 2
    add
    push local 0
    push static 2
    add
    pop pointer 1
    push that 0
    push local 2
    push static 1
    add
    pop pointer 1
    push that 0
    not
    and
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
label Screen_2
    push constant 0
    return
function Screen.drawLine 1
    push argument 0
    push argument 2
    gt
    not
    if-goto Screen_5
    push argument 2
    pop local 0
    push argument 0
    pop argument 2
    push local 0
    pop argument 0
    push argument 3
    pop local 0
    push argument 1
    pop argument 3
    push local 0
    pop argument 1
    goto Screen_4
label Screen_5
label Screen_4
    push argument 1
    push argument 3
    eq
    not
    if-goto Screen_7
    push argument 0
    push argument 2
    push argument 1
    call Screen.drawHorizontalLine 3
    pop temp 0
    goto Screen_6
label Screen_7
label Screen_6
    push argument 0
    push argument 1
    push argument 2
    push argument 3
    call Screen.drawDiagonal 4
    pop temp 0
    push constant 0
    return
function Screen.drawHorizontalLine 0
label Screen_8
    push argument 0
    push argument 1
    lt
    not
    if-goto Screen_9
    push argument 0
    push argument 2
    call Screen.drawPixel 2
    pop temp 0
    push argument 0
    push constant 1
    add
    pop argument 0
    goto Screen_8
label Screen_9
    push constant 0
    return
function Screen.drawDiagonal 7
    push argument 2
    push argument 0
    sub
    pop local 2
    push argument 3
    push argument 1
    sub
    pop local 3
    push local 3
    push constant 0
    lt
    not
    if-goto Screen_11
    push constant 1
    neg
    pop local 5
    push local 3
    neg
    pop local 4
    goto Screen_10
label Screen_11
    push constant 1
    pop local 5
    push local 3
    pop local 4
label Screen_10
label Screen_12
    push local 0
    push local 2
    gt
    not
    push local 1
    call Math.abs 1
    push local 4
    gt
    not
    and
    not
    if-goto Screen_13
    push argument 0
    push local 0
    add
    push argument 1
    push local 1
    add
    call Screen.drawPixel 2
    pop temp 0
    push local 6
    push constant 0
    lt
    not
    if-goto Screen_15
    push local 0
    push constant 1
    add
    pop local 0
    push local 6
    push local 4
    add
    pop local 6
    goto Screen_14
label Screen_15
    push local 1
    push local 5
    add
    pop local 1
    push local 6
    push local 2
    sub
    pop local 6
label Screen_14
    goto Screen_12
label Screen_13
    push constant 0
    return
function Screen.drawRectangle 0
    push constant 0
    return
function Screen.drawCircle 3
    push argument 2
    neg
    pop local 0
    push argument 2
    push argument 2
    call Math.multiply 2
    pop local 1
label Screen_16
    push local 0
    push argument 2
    lt
    not
    if-goto Screen_17
    push local 1
    push local 0
    push local 0
    call Math.multiply 2
    sub
    call Math.sqrt 1
    pop local 2
    push argument 0
    push local 2
    sub
    push argument 1
    push local 0
    add
    push argument 0
    push local 2
    add
    push argument 1
    push local 0
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Screen_16
label Screen_17
    push constant 0
    return
function Screen.bitN 0
    push argument 0
    push argument 1
    push static 1
    add
    pop pointer 1
    push that 0
    and
    push argument 1
    push static 1
    add
    pop pointer 1
    push that 0
    eq
    neg
    pop argument 0
    push argument 0
    return